/* Universal resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: none;
}

/* tag styles */
body {
  font-family: Arial;
  font-weight: normal;
  font-size: 14pt;
  background-color: rgb(146, 166, 255);
  color: black;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
}

.proj-host {
  position: relative;
  font-family: Arial;
  font-weight: normal;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  /* border: solid red 1px; */
}

.proj-content {
  display: block;
}

/* footer for preview/projector */
.proj-footer {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 0;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  height: 1.5em;
  background-color: rgba(0, 0, 0, 0);
  /* border: solid white 1px; */
}

table {
  border-collapse: collapse;
}

button {
  margin: 3px;
  height: 2em;
}

h6 {
  margin: 2px 2px;
}

fieldset {
  background-color: rgb(255, 202, 137);
}

.redText {
  color: red;
}

.grayText {
  color: gray;
}

.greenText {
  color: green;
}

.bdr {
  border: solid black 2px;
}

.nbdr {
  border: none;
}

#navKeyTable td {
  border: none;
}

#navKeyTable tr {
  margin: 0px;
}

#navKeyTable td {
  margin: 0px;
  /* border: solid black 1px; */
}

.keyNavInstructions {
  position:absolute;
  top: 50%;
  left: 47%;
  transform: translateY(100%);
  z-index: 2;
  opacity: 0.5;
  background-color: yellow;
}

#tdSongNavArea {
  font-size: smaller;
  width: 250px;
}

.al {
  text-align: left !important;
}

.ac {
  text-align:center;
  margin: auto;
}

.ar {
  text-align:right;   
}

.vam {
  vertical-align: middle;
}

.vat {
  vertical-align: top;
}

.m0 {
  margin: 0px;
}

.bgWhite {
  background-color: white;
}

.smaller {
  font-size: smaller;
}

.smallest {
  font-size: small;
}

.larger {
  font-size: large;
}

.italic {
  font-style: italic;
}

.lc {
  text-transform: lowercase;
}

.formTable {
  margin: auto;
  background-color: bisque;
  border: solid black 2px;
}

.formTable th {
  padding: 1em 2em;
  text-align: right;
  font-weight: bold;
}

.formTable td {
  padding: 1em 2em;
  border: solid black 1px;
}

.innerTable {
  margin: auto;
  background-color: rgb(255, 202, 137);
  /* border: solid black 1px; */
}

.innerTable th {
  padding: .2em .4em;
  text-align: right;
  font-weight: bold;
  font-size: smaller;
}

.innerTable td {
  padding: .2em .4em;
  border: solid black 1px;
}

.horzTable {
  margin: auto;
  background-color: rgb(255, 202, 137);
  border: solid black 1px;
}

.horzTable th {
  padding: .2em .4em;
  text-align: right;
  font-weight: bold;
  font-size: smaller;
  border-top: solid black 1px;
  border-right: none;
  border-left: none;
}

.horzTable td {
  padding: .2em .4em;
  border-top: solid black 1px;
  border-right: none;
  border-left: none;  
}

.updated {
  z-index: 3;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: red;
}

.pageTitle {
  font-style: italic;
  font-size: smaller;
  color:aqua;
}

@media print {
  .pgBrk {
    page-break-after: always !important;
  }
}

#divPrintArea {
  background-color: white;
  position: relative;
}

#tblPrint {
  width: 8in;
  height: 10in;
  margin: auto;
  margin-top: 0in;
}

#tblPrint td {
  vertical-align: top;
  /* border: solid blue 1px; */
}

.trBottomInfo {
  font-size: 9pt;
  margin-top: .2in;
  /* border: solid black 1px; */
}

#tdPagePreview {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 300px;
  border: solid 5px solid black;
}

#tdPagePreview:focus {
  border: solid 5px yellow;
  outline-style: none;
}

.greenBdr {
  border: solid green 2px;
}

.topRow {
  height: .5in;
}

.verseCell {
  width: 50%;
  padding: .1in;
  height: 2.25in;
  font-size: 14pt;
  /* border: solid black 1px; */
  text-align: top;
}

.divIndent {
  padding-left: 1em;
}

.bottomRow {
  height: 2in;
  font-size: 11pt;
}

.tblBottomInfo {
  width: 100%;
}
