/* Universal resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  overflow: none;
}

/* tag styles */
body {
  font-family: Arial;
  font-weight: normal;
  font-size: 14pt;
  background-color: rgb(146, 166, 255);
  color: black;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
}

.proj-host {
  position: relative;
  font-family: Arial;
  font-weight: normal;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  /* border: solid red 1px; */
}

.proj-content {
  display: block;
}

/* footer for preview/projector */
.proj-footer {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 0;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  height: 1.5em;
  background-color: rgba(0, 0, 0, 0);
  /* border: solid white 1px; */
}

table {
  border-collapse: collapse;
}

button {
  margin: 3px;
  height: 2em;
}

h6 {
  margin: 2px 2px;
}

fieldset {
  background-color: rgb(255, 202, 137);
}

.redText {
  color: red;
}

.grayText {
  color: gray;
}

.greenText {
  color: green;
}

.bdr {
  border: solid black 2px;
}

.vidBdr {
  border: inset gray 10px;
}

.nbdr {
  border: none;
}

#navKeyTable td {
  border: none;
}

#navKeyTable tr {
  margin: 0px;
}

#navKeyTable td {
  margin: 0px;
  /* border: solid black 1px; */
}

.keyNavInstructions {
  position:absolute;
  top: 50%;
  left: 47%;
  transform: translateY(100%);
  z-index: 2;
  opacity: 0.5;
  background-color: yellow;
}

#tdSongNavArea {
  font-size: smaller;
  width: 250px;
}

.navBtn {
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color:rgb(169, 245, 255)
}

.editImg {
  width: 20px;
  height: 20px;  
}

.eyeImg {
  width: 20px;
  height: 15px; 
}

.p1em {
  padding: 1em;
}

.al {
  text-align: left !important;
}

.ac {
  text-align:center;
}

.ac > div, .ac > table, .ac > td, .ac > th, .ac > tr {
  margin-left: auto;
  margin-right: auto;
}

.ar {
  text-align:right;   
}

.vam {
  vertical-align: middle;
}

.vat {
  vertical-align: top;
}

.vab {
  vertical-align: bottom;
}

.fw {
  width: 100%;
}

.m0 {
  margin: 0px;
}

.m4 {
  margin: 4px;
}

.bgWhite {
  background-color: white;
}

.smaller {
  font-size: smaller;
}

.smallest {
  font-size: small;
}

.larger {
  font-size: large;
}

.italic {
  font-style: italic;
}

.lc {
  text-transform: lowercase;
}

.formTable {
  margin: auto;
  background-color: bisque;
  border: solid black 2px;
}

.formTable th {
  padding: 0.5em 0.5em;
  text-align: right;
  font-weight: bold;
}

.formTable td {
  padding: 0.5em 0.5em;
  border: solid black 1px;
}

.innerTable {
  margin: auto;
  background-color: rgb(255, 202, 137);
  /* border: solid black 1px; */
}

.innerTable th {
  padding: .2em .4em;
  text-align: right;
  font-weight: bold;
  font-size: smaller;
}

.innerTable td {
  padding: .2em .4em;
  border: solid black 1px;
}

.horzTable {
  margin: auto;
  background-color: rgb(255, 202, 137);
  border: solid black 1px;
}

.horzTable th {
  padding: .2em .4em;
  text-align: right;
  font-weight: bold;
  font-size: smaller;
  border-top: solid black 1px;
  border-right: none;
  border-left: none;
}

.horzTable td {
  padding: .2em .4em;
  border-top: solid black 1px;
  border-right: none;
  border-left: none;  
}

.updated {
  z-index: 3;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: red;
}

.pageTitle {
  font-style: italic;
  font-size: smaller;
  color:aqua;
}

.m2em {
  margin-top: 1em;
  margin-left: 1em; 
  margin-right: 1em;
}

/* Print classes */

.showPrintOnly {
  display: none;
}

@media print {
  .pgBrk {
    page-break-after: always !important;
  }
  .showPrintOnly {
    display: initial;
  }
}

#divPrintPage {
  background-color: white;
  margin: auto;
}

#tblPrint {
  width: 8.5in;
  height: 11in;
  margin: 0px;
  /* border: solid black 1px; */
}

#tblPrint td {
  vertical-align: top;
  /* border: solid blue 1px; */
}

.trPrintTopRow {
  height: 0.5in;
  /* margin-bottom: .2in; */
  /* border: solid green 1px; */
}

.trPrintBottomRow {
  height: 0.5in
}

.trPrintBottomInfoRow {
  font-size: 10pt;
  /* border: solid red 1px; */
}

.trPrintVerseRow {
  /* cRows = 5 see getPrintHTMLForASong() */
  height: calc(10in / 5); 
  width: 100%;
  /* border: solid purple 1px; */
}

.trPrintVerseCell {
  width: calc(7in / 2);
  /* cCols = 2 see getPrintHTMLForASong() */
  /* border: solid blue 1px; */
}

.flexContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1em;
}

.flexItem {
  background-color: white;
  border: solid black 1px;
  text-align: left;
}

.divIndent {
  padding-left: 2em;
  text-align: left;
}
/* End of print classes */

#tdPagePreview {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 300px;
  border: solid 5px solid black;
}

#tdPagePreview:focus {
  border: solid 5px yellow;
  outline-style: none;
}

#divSearchResults {
  background-color: white;
  font-size: 12pt;
  height: 260px;
  overflow-y: scroll;
}

.editBtn {
  width: 11pt;
  height: 11pt;
  align-self: self-start;
  border: 1px solid black;
}

.greenBdr {
  border: solid green 2px;
}

.ProjectorBG {
  background-color: #d1ddff;
}
.SongOrSetSelectionBG {
  background-color: #fffaaf;
}
.NavBG {
  background-color: #ff9a9a;
}
.GeneralFormattingBG {
  background-color: #fca4e1;
}
.CreateOrEditSongSetBG {
  background-color: #e2ffb4;
}
.CreateOrEditSongBG {
  background-color: #aaacff;
}
.SearchBG {
  background-color: #b6fff3;
}
.ExportImportBG {
  background-color: #ffffff;
}
